{% extends "core/base.html" %}
{% block title %}
  Language
{% endblock title %}
{% block content %}
  {% load crispy_forms_tags %}
  <div class="container-fluid m-2">
    <div class="row">
      <div class="col-md-2">
        <a href="{% url 'python_problems:problem-index' %}"
           class="btn btn-secondary px-3 py-0 mb-5">Back</a>
      </div>
      <div class="col-md-8">
        <div class="mb-5 mt-5">
          <h2>Add a language</h2>
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next_url }}">
            {{ form|crispy }}
            <button type="submit" class="btn btn-sm btn-secondary me-2">Submit</button>
            <a href="{{ next_url }}" class="btn btn-sm btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
