{% extends "core/base.html" %}
{% block title %}
  Python
{% endblock title %}
{% block head %}
  {# From app static filies, only for this app https://www.w3schools.com/django/django_collect_static_files.php #}
  {# {% load static %} <link rel="stylesheet" href="{% static 'python_problems/style_local.css' %}"> #}
  {# For global static files, for all apps https://www.w3schools.com/django/django_add_global_static_files.php #}
  {# {% load static %} <link rel="stylesheet" href="{% static 'style_global.css' %}"> #}
  {% load pagination_page_filter problem_filters %}
  {% load static %}
  <script src="{% static 'js/toggle-tags.js' %}" defer></script>
{% endblock head %}
{% block content %}
  <div class="row m-1">
    <div class="col-md-2">
      <a href="{% url 'core:index' %}"
         class="btn btn-secondary px-3 py-0 mt-3 mb-5">Back</a>
      <div class="mb-3">
        <label for="search_bar" class="form-label">
          <b>Search tab:</b>
        </label>
        <hr>
        <form method="post" id="search_bar">
          {% csrf_token %}

          <!-- Search Box -->
          <label for="search_box" class="form-label">
            <b>Search box:</b>
          </label>
          <div class="input-group mb-3">
            <input class="p-2 mb-1"
                   id="search_box"
                   name="query_text"
                   placeholder="Search by tag or title"
                   style="border-radius: 0.35rem"
                   type="text"
                   value="{{ query_text }}">
            <button class="btn btn-primary px-2 py-0"
                    style="border-radius: 0.35rem"
                    type="submit">
              Search
            </button>
          </div>

          <!-- Difficulty Filter -->
          <label for="difficulty" class="form-label">
            <b>Difficulty:</b>
          </label>
          <select class="form-select mb-3"
                  id="difficulty"
                  name="difficulty_id"
                  onchange="this.form.submit()"
                  style="width: auto">
            <option value="{{ 0 }}"
                    {% if difficulty.id == 0 %}selected{% endif %}>
              {{ "All" }}
            </option>
            {% for difficulty in difficulty_list %}
              <option value="{{ difficulty.id }}"
                      {% if difficulty.id == difficulty_id %}selected{% endif %}>
                {{ difficulty }}
              </option>
            {% endfor %}
          </select>

          <!-- Tag Filter -->
          <label for="tags">
            <b>Tag:</b>
          </label>
          <select class="form-select mb-3"
                  id="tag"
                  name="tag_id"
                  onchange="this.form.submit()"
                  style="width: auto;">
            <option value="{{ 0 }}"
                    {% if tag.id == 0 %}selected{% endif %}>
              {{ "All" }}
              {% for tag in tag_list.all %}
              <option value="{{ tag.id }}"
                      {% if tag.id == tag_id %}selected{% endif %}>
                {{ tag }}
              {% endfor %}
            </option>
          </select>
          
          <!-- Select Language -->
          <label for="language" class="form-label">
            <b>Language:</b>
          </label>
          <select class="form-select mb-3"
                  id="language"
                  name="language_id"
                  onchange="this.form.submit()"
                  style="width: auto;">
            <option value="{{ 0 }}"
                    {% if language.id == 0 %}selected{% endif %}>
              {{ "All" }}
              {% for language in language_list.all %}
              <option value="{{ language.id }}"
                      {% if language.id == language_id %}selected{% endif %}>
                {{ language }}
              {% endfor %}
            </option>
          </select>

          <!-- Order by -->
          <label for="order_by" class="form-label">
            <b>Order by:</b>
          </label>
          <select class="form-select mb-3"
                  id="order_by"
                  name="order_by"
                  onchange="this.form.submit()"
                  style="width: auto">
            <option value="difficulty" 
                    {% if order_by == "difficulty" %}selected{% endif %}>Difficulty
            </option>
            <option value="title" 
                    {% if order_by == "title" %}selected{% endif %}>Title
            </option>
            <option value="owner" 
                    {% if order_by == "owner" %}selected{% endif %}>Author
            </option>
            <option value="created_at"
                    {% if order_by == "created_at" %}selected{% endif %}>Creation date
            </option>
            <option value="updated_at"
                    {% if order_by == "updated_at" %}selected{% endif %}>Update date
            </option>
          </select>
          
          <!-- Problems Per Page Dropdown -->
          <label for="problems_per_page" class="form-label">
            <b>Problems per page:</b>
          </label>
          <select class="form-select w-auto mb-3"
                  id="problems_per_page"
                  name="problems_per_page"
                  onchange="this.form.submit()">
            <option value="5" {% if problems_per_page == 5 %}selected{% endif %}>5 / page</option>
            <option value="6" {% if problems_per_page == 6 %}selected{% endif %}>6 / page</option>
            <option value="7" {% if problems_per_page == 7 %}selected{% endif %}>7 / page</option>
            <option value="8" {% if problems_per_page == 8 %}selected{% endif %}>8 / page</option>
            <option value="10" {% if problems_per_page == 10 %}selected{% endif %}>10 / page</option>
            <option value="20" {% if problems_per_page == 20 %}selected{% endif %}>20 / page</option>
            <option value="{{ problem_list|length }}"
                    {% if problems_per_page == problem_list|length %}selected{% endif %}>All</option>
          </select>
          
          <!-- Hidden Fields for Paginator -->
          <input type="hidden" name="page_number" value="{{ page_number }}">
          {% comment %} <input type="hidden" name="problems_per_page" value="{{ problems_per_page }}"> {% endcomment %}
        </form>
      </div>
      
      <!-- Clear filters -->
      <div class="mb-4">
        <a class="btn btn-warning px-2 py-0"
           href="{% url 'python_problems:problem-index' %}"
           role="button">Clear filters</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="my-5 mx-3">
        <h2>Problem list</h2>
      </div>
      {% if page_obj %}
        <ul>
          {% for problem in page_obj %}
            <div class="row">
              <div class="col-md-auto">
                <div class="row">
                  <div class="col-md-auto">
                    <li>
                      {{ problem.title }}
                      {% if user == problem.owner %}
                        (<a href="{% url 'python_problems:problem-update' problem.id %}">Update</a> |
                        <a href="{% url 'python_problems:problem-delete' problem.id %}">Delete</a>)
                      {% endif %}
                    </li>
                  </div>
                    
                  {# Tag buttons in JS #}
                  <div class="col-md-auto">
                    {% for tag in problem.tags.all %}
                      <form method="post" style="display: inline">
                        {% csrf_token %}
                        <button class="tags_js btn btn-secondary py-0 px-1" 
                                style="display: none"
                                type="submit">
                          {{ tag.name }}
                        </button>
                      </form>
                    {% endfor %}
                  </div>
                </div>
                <div class="row">
                  {# Show difficulty #}
                  <div class="col-md-auto mt-1">
                    {% comment %} <button class="page-link btn px-2 py-0
                                   {% if problem.difficulty.name == 'Easy' %}btn-success{% endif %}
                                   {% if problem.difficulty.name == 'Medium' %}btn-warning{% endif %}
                                   {% if problem.difficulty.name == 'Hard' %}btn-danger{% endif %}
                                   {% if problem.difficulty.name == 'Impossible' %}btn-secondary{% endif %}"
                            disabled
                            id="difficulty_tag">
                      {{ problem.difficulty }}
                    </button> {% endcomment %}
                    <p class={% if problem.difficulty.name == 'Easy' %}"text-success"{% endif %}
                             {% if problem.difficulty.name == 'Medium' %}"text-warning"{% endif %}
                             {% if problem.difficulty.name == 'Hard' %}"text-danger"{% endif %}
                             {% if problem.difficulty.name == 'Impossible' %}"text-secondary"{% endif %}>
                      {{ problem.difficulty.name }}
                    </p>
                  </div>

                  <!-- Problem languages -->
                  <div class="col-md-auto">
                    {% for language in problems_languages|dict_key:problem %}
                      <a class="btn btn-link py-0 px-1" 
                          href="{% url 'python_problems:problem-detail' problem.slug language.name %}" 
                          role="button">
                        {{ language.name }}
                      </a>
                    {% endfor %}
                  </div>
                </div>

                {# Tag buttons in Bootstrap #}
                {% comment %} <div class="collapse col-md-auto"
                     id="tags">
                  {% for tag in problem.tags.all %}
                    <form method="post" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="tag" value="{{ tag.id }}">
                      <button type="submit" 
                              class="tags btn btn-secondary py-0 px-1">
                        {{ tag.name }}
                      </button>
                    </form>
                  {% endfor %}
                </div> {% endcomment %}
              </div>
              <hr>
            </div>
          {% endfor %}
        </ul>
        <nav>
          <form method="post">
            {% csrf_token %}
            <ul class="pagination">
              <!-- First Page Button -->
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <button type="submit" class="page-link" name="page_number" value="1">
                    &laquo;
                  </button>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&laquo;</span>
                </li>
              {% endif %}
              <!-- Previous Page Button -->
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <button type="submit" class="page-link" name="page_number" value="{{ page_obj.previous_page_number }}">
                    &lsaquo;
                  </button>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&lsaquo;</span>
                </li>
              {% endif %}
              
              <!-- Page Numbers -->
              {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
                  <!-- Page number dropdown -->
                  <li class="page-item">
                    <select class="form-select d-inline w-auto"
                            id="form_page_number"
                            name="form_page_number"
                            onchange="this.form.submit()">
                      {% for page_number in page_obj.paginator.page_range %}
                        <option value="{{ page_number }}"
                                {% if page_number == page_obj.number %}selected{% endif %}>
                          Page {{ page_number }}
                        </option>
                      {% endfor %}
                    </select>
                  </li>
                  {% comment %} <li class="page-item active">
                    <span class="page-link">{{ page_number }}</span>
                  </li> {% endcomment %}
                {% elif page_number|in_pagination_range:page_obj %}
                  <li class="page-item">
                    <button type="submit" class="page-link" name="page_number" value="{{ page_number }}">
                      {{ page_number }}
                    </button>
                  </li>
                {% comment %} {% else %}
                  <li class="page-item disabled">
                    <span class="page-link">&hellip;</span>
                  </li> {% endcomment %}
                {% endif %}
              {% endfor %}

              <!-- Next Page Button -->
              {% if page_obj.has_next %}
                <li class="page-item">
                  <button type="submit" class="page-link" name="page_number" value="{{ page_obj.next_page_number }}">
                    &rsaquo;
                  </button>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&rsaquo;</span>
                </li>
              {% endif %}
              <!-- Last Page Button -->
              {% if page_obj.has_next %}
                <li class="page-item">
                  <button type="submit" class="page-link" name="page_number" value="{{ page_obj.paginator.num_pages }}">
                    &raquo;
                  </button>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&raquo;</span>
                </li>
              {% endif %}

              <!-- Problems Per Page Dropdown -->
              <li class="page-item">
                <select class="form-select d-inline w-auto ms-3"
                        id="problems_per_page"
                        name="problems_per_page"
                        onchange="this.form.submit()">
                  <option value="5" {% if problems_per_page == 5 %}selected{% endif %}>5 / page</option>
                  <option value="6" {% if problems_per_page == 6 %}selected{% endif %}>6 / page</option>
                  <option value="7" {% if problems_per_page == 7 %}selected{% endif %}>7 / page</option>
                  <option value="8" {% if problems_per_page == 8 %}selected{% endif %}>8 / page</option>
                  <option value="10" {% if problems_per_page == 10 %}selected{% endif %}>10 / page</option>
                  <option value="20" {% if problems_per_page == 20 %}selected{% endif %}>20 / page</option>
                  <option value="{{ problem_list|length }}"
                          {% if problems_per_page == problem_list|length %}selected{% endif %}>All</option>
                </select>
              </li>
            </ul>

            <!-- Hidden Fields for Filters -->
            <input type="hidden" name="difficulty_id" value="{{ difficulty_id }}">
            <input type="hidden" name="language_id" value="{{ language_id }}">
            <input type="hidden" name="order_by" value="{{ order_by }}">
            <input type="hidden" name="query_text" value="{{ query_text }}">
            <input type="hidden" name="tag_id" value="{{ tag_id }}">
          </form>
        </nav>
      {% else %}
        <p>No Python problems available for the given parameters.</p>
        <div class="mb-4">
          <a class="btn btn-warning mb-2 p-1"
             href="{% url 'python_problems:problem-index' %}"
             role="button">Clear filters</a>
        </div>
      {% endif %}
    </div>
    <div class="col-md-2">
      <label>
        <b>Settings tab</b>
      </label>
      {# Tag buttons in Bootstrap #}      
      {% comment %} <div class="mb-3">
        <button type="button"
                class="btn btn-secondary px-2 py-0"
                data-bs-toggle="collapse"
                data-bs-target="#tags">
          Show Tags
        </button>
      </div> {% endcomment %}
      {# Tag buttons in JS #}
      <div class="mb-3">
        <button onclick="toggleTags()" class="btn btn-secondary px-2 py-0">Show Tags</button>
      </div>
    </div>
  </div>
{% endblock content %}
