{% extends "core/base.html" %}
{% block title %}
    Python
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'python_problems/style.css' %}">
<h1>Python problems list</h1>
<a href="tag/">Tag list</a>
<a href="tag/create/">Create a tag</a>
<a href="create/">Create a problem</a>
<hr>
<button onclick="toggleTags()">Tags</button>
{% if problem_list %}
  <ul>
    {% for problem in problem_list %}
      <li>
        <div class="problem-container flex">
          <a href="{% url 'python_problems:detail' problem.id %}">{{ problem.title }}</a>
          <p class="tags" style="display: none;">, Tags: ({{ problem.tags.all|join:', ' }})</p>
        </div>
        <hr>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No python problems available.</p>
{% endif %}
<script>
  function toggleTags() {
    var tags = document.querySelectorAll(".tags");
    for (var i = 0; i < tags.length; i++) {
      if (tags[i].style.display === "none") {
        tags[i].style.display = "block";
      } else {
        tags[i].style.display = "none";
      }
    }
  }
</script>
{% endblock content %}
{% comment %}With button in each row
{% if problem_list %}
  <ul>
    {% for problem in problem_list %}
      <li>
        <a href="{% url 'python_problems:detail' problem.id %}">{{ problem.title }}</a>,
        <button onclick="showTags('tags_{{ problem.id }}')">Show tags</button>
        <p id="tags_{{ problem.id }}" style="display: none;">Tags: ({{ problem.tags.all|join:', ' }})</p>
        <br>
        <hr>
        <br>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No python problems available.</p>
{% endif %}
<script>
  function showTags(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endcomment %}
