{% extends "core/base.html" %}
{% block title %}
  Python
{% endblock title %}
{% block content %}
  {% comment %}  {% load static %}
  <link rel="stylesheet" href="{% static 'python_problems/style.css' %}">{% endcomment %}
  <div class="container-fluid m-2">
    <div class="row">
      <div class="col-md-2">
        <a href="/" class="btn btn-secondary px-3 py-0 mb-5">Back</a>
        <form method="get" action="{% url 'python_problems:index' %}">
          <div class="input-group mb-5">
            <input name="query"
                   class="px-2 py-2 mb-2"
                   type="text"
                   value="{{ query }}"
                   placeholder="Search by tag or title">
            <button class="btn btn-primary mb-2 px-2" type="submit">Search</button>
            {% if difficulty_id %}<input type="hidden" name="difficulty" value="{{ difficulty_id }}">{% endif %}
          </div>
        </form>
        <strong>Difficulty</strong>
        <ul>
          {% for difficulty in difficulty_list %}
            <li class="py-1 px-2 {% if difficulty.id == difficulty_id %}text-warning{% endif %}">
              <a href="{% url 'python_problems:index' %}?query={{ query }}&difficulty={{ difficulty.id }}"
                 class="btn btn-secondary py-0 {% if difficulty.id == difficulty_id %}text-warning{% endif %}">{{ difficulty.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <a class="btn btn-warning mb-2 mt-2 p-1"
           href="{% url 'python_problems:index' %}"
           role="button">Clear filters</a>
      </div>





      <div class="col-md-8">
        <div class="mb-5 mt-5">
          <h2>Python problems list</h2>
        </div>
        {% if page_obj %}
          <ul>
            {% for problem in page_obj %}
            <li>
              <div class="problem-container flex ">
                <a href="{% url 'python_problems:detail' problem.id %}">{{ problem.title }}</a>,
                (<a href="{% url 'python_problems:problem-update' problem.id %}">Update</a> |
                <a href="{% url 'python_problems:problem-delete' problem.id %}">Delete</a>)
                {% comment %}<a href="{% url 'python_problems:detail' problem.id %}" class="tags" style="display: none">, ({{ problem.tags.all|join:', ' }})</a>{% endcomment %}
                {% for tag in problem.tags.all %}
                  <a href="{% url 'python_problems:index' %}?query={{ tag }}" class="tags" style="display: none">, {{ tag }}</a>
                {% endfor %}
              </div>
              <hr>
            </li>
            {% endfor %}
          </ul>
          
          <nav>
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}&problems_per_page={{ problems_per_page }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              {% endif %}
    
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                  </li>
                {% else %}
                  <li class="page-item">
                <a class="page-link" href="?page={{ num }}&problems_per_page={{ problems_per_page }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
    
              {% if page_obj.has_next %}
                <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}&problems_per_page={{ problems_per_page }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Next</span>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% else %}
          <p>No python problems available.</p>
        {% endif %}
    </div>
    



      <div class="col-md-2">
        <div class="row">
          <div>
            <button onclick="toggleTags()" class="btn-secondary ms-0 mb-3">Show Tags</button>
          </div>
        </div>
        <div class="row mb-2">
          <div>
            <a href="create/">Create a problem</a> |
            <a href="tag/">Tag list</a> |
            <a href="tag/create/">Add a tag</a>
          </div>
        </div>
        <div class="row m-3">
          {% comment %} <label for="problems_per_page" class="form-label">Items per page:</label>
            <select class="form-select" id="problems_per_page" name="problems_per_page">
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>{{ problem_list|length }}</option>
            </select>
            <br> {% endcomment %}
            <form method="get" class="mb-3">
              <label for="problemsPerPage">Problems per page:</label>
              <select name="problems_per_page" id="problemsPerPage" onchange="this.form.submit()">
                <option value=10 {% if problems_per_page == 10 %}selected{% endif %}>10</option>
                <option value=20 {% if problems_per_page == 20 %}selected{% endif %}>20</option>
                <option value={{ problem_list|length }} {% if problems_per_page == problem_list|length %}selected{% endif %}>All</option>

              </select>
            </form>
            
        </div>
      </div>
    </div>
    <script>
  function toggleTags() {
    var tags = document.querySelectorAll(".tags");
    for (var i = 0; i < tags.length; i++) {
      if (tags[i].style.display === "none") {
        tags[i].style.display = "block";
      } else {
        tags[i].style.display = "none";
      }
    }
  }
    </script>
  {% endblock content %}
