{% extends "core/base.html" %}
{% block title %}
  Python
{% endblock title %}

{% block head %}
  {# CodeMirror #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/codemirror.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.62.0/theme/monokai.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/codemirror.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/mode/python/python.min.js" defer></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/mode/javascript/javascript.min.js" defer></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/mode/clike/clike.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/mode/sql/sql.min.js" defer></script>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'python_problems/style.css' %}">
  <script src="{% static 'python_problems/code-mirror.js' %}" defer></script>
  <script src="{% static 'python_problems/test-case-buttons.js' %}" defer></script>
  <script src="{% static 'python_problems/ai-assistant.js' %}" defer></script>
  <script src="{% static 'python_problems/code-buttons.js' %}" defer></script>
  <script src="{% static 'python_problems/problem-info.js' %}" defer></script>
  <script src="{% static 'python_problems/problem-description.js' %}" defer></script>
  <script src="{% static 'python_problems/problem-solution.js' %}" defer></script>
  
  {# Store as a data attribute #}
  <div id="testCaseContainer" testCaseLength="{{ test_cases|length }}"></div>
  <div id="languageContainer" languageId="{{ language.id }}"></div>
  <div id="userContainer" userName="{{ request.user }}"></div>
{% endblock head %}

{% block content %}
  <div class="row">
    {# Left tab #}
    {# Releated problems #}
    {% include "python_problems/partials/_problem_detail_related_problems.html" %}
    {# Middle tab #}
    <div class="col-md-8 p-3">
      {% comment %} {# for testing #}
      {% include "python_problems/partials/_problem_detail_testing.html" %} {% endcomment %}
      {# Problem title #}
      {% include "python_problems/partials/_problem_detail_problem_title.html" %}
      {# Problem info #}
      {% include "python_problems/partials/_problem_detail_problem_info.html" %}
      {# Problem description #}
      {% include "python_problems/partials/_problem_detail_description.html" %}
      {# AI assistant #}
      {% include "python_problems/partials/_problem_detail_ai_assistant.html" %}
      {# Code area #}
      {% include "python_problems/partials/_problem_detail_code_area.html" %}
      {# Test cases #}
      {% include "python_problems/partials/_problem_detail_test_cases.html" %}
      {# Show solution #}
      {% include "python_problems/partials/_problem_detail_show_solution.html" %}
    </div>
    {# Right tab #}
    <div class="col-md-2 p-3">
      <div class="row-auto">
        <a href="{% url 'python_problems:problem-index' %}"
           class="btn btn-secondary px-3 py-0 mb-2">Back</a>
      </div>
    </div>
  </div>
{% endblock content %}