{% extends "core/base.html" %}
{% block title %}
  Problem delete
{% endblock title %}
{% block content %}
  <div class="container-fluid m-2">
    <div class="row">
      <div class="col-md-2">
        <a href="{% url 'python_problems:problem-index' %}"
           class="btn btn-secondary px-3 py-0 m-1">Back</a>
      </div>
      <div class="col-md-8">
        <h1>Delete a Problem</h1>
        <p>Are you sure you want to delete the problem: {{ problem }}?</p>
        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="Yes, delete." />
          <input type="submit"
                 onclick="window.location='{% url 'python_problems:problem-index' %}' ; return false;"
                 value="Cancel" />
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock content %}
