{% extends "core/base.html" %}
{% block title %}
  Solution
{% endblock title %}
{% block content %}
  <div class="container-fluid m-2">
    <div class="row">
      <div class="col-md-2">
        <a href="{% url 'python_problems:problem-index' %}"
           class="btn btn-secondary px-3 py-0 m-1">Back</a>
      </div>
      <div class="col-md-8">
        <form action="" method="post">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          <input type="hidden" name="next" value="{{ problem_submit_redirect_url }}">
          <div class="alert alert-secondary py-2">
            <div>
              <b>Solution test cases are deprecated:</b> leave empty.
            </div>
            <div>Test cases are fetched from Problem.</div>
          </div>
          {{ form|crispy }}
          <input type="submit" class="btn btn-sm btn-secondary me-2" value="Submit" />
          <input type="submit"
                 class="btn btn-sm btn-secondary"
                 onclick="window.location='{{ problem_submit_redirect_url }}' ; return false;"
                 value="Cancel" />
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  {% endblock content %}
