{% extends "core/base.html" %}
{% block title %}
  Tag
{% endblock title %}
{% block content %}
  <div class="container-fluid m-2">
    <div class="row">
      <div class="col-md-2">
        <a href="{% url 'python_problems:index' %}"
           class="btn btn-secondary px-3 py-0 mb-5">Back</a>
      </div>
      <div class="col-md-8">
        <div class="mb-5 mt-5">
          <h2>Python problems tag list</h2>
        </div>
        {% if tag_list %}
        <ul>
          {% for tag in tag_list %}
              <li>
                {{ tag.name }} (
                {% if tag.problem_set.count == 1 %}
                  1 Problem - <a href="{% url 'python_problems:index' %}?query={{ tag.name }}">Search</a>
                {% else %}
                  {{ tag.problem_set.count }} Problems - <a href="{% url 'python_problems:index' %}?query={{ tag.name }}">Search</a>
                  {% endif %}
                {# Tag update/delete #}
                ) {% comment %} |
                (<a href="{% url 'python_problems:tag-update' tag.id %}">Update</a> |
                <a href="{% url 'python_problems:tag-delete' tag.id %}">Delete</a>) {% endcomment %}
                <hr>
              </li>
              {% endfor %}
          </ul>
        {% else %}
          <p>No python problems available.</p>
        {% endif %}
      </div>
      <div class="col-md-2">
        <p>
          <a href="create/" class="ms-4">Add a tag</a>
          <a href="{% url 'python_problems:tag-graph' %}" class="ms-4">Statistics</a>
        </p>
        
      </div>
    </div>
  </div>
{% endblock content %}
