{% extends "core/base.html" %}
{% block title %}
    Tag
{% endblock title %}
{% block content %}
    <h2>Python problems tag list</h2>
    <p>
        <a href="{% url 'python_problems:index' %}" class="ms-4">Back</a>
    </p>
    <p>
        <a href="create/" class="ms-4">Add a tag</a>
    </p>
    {% if tag_list %}
        <ul>
            {% for tag in tag_list %}
                <li>
                    {{ tag.name }}
                    (<a href="{% url 'python_problems:index' %}?query={{ tag.name }}">Search problems</a> |
                    <a href="{% url 'python_problems:tag-update' tag.id %}">Update</a> |
                    <a href="{% url 'python_problems:tag-delete' tag.id %}">Delete</a>)
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No python problems available.</p>
    {% endif %}
{% endblock content %}
