{% extends "core/base.html" %}
{% block title %}
  Animate grid
{% endblock title %}
{% block head %}
  {% load static %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'animations/styles.css' %}">
  <script src="{% static 'animations/animate-grid.js' %}" defer></script>
  <script src="{% static 'animations/code-mirror.js' %}" defer></script>
  {{ order|json_script:"order" }}
  {{ rows|json_script:"rows" }}
  {{ cols|json_script:"cols" }}
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center mb-4">
      <h1 class="row">Number of Islands</h1>
      <div class="col-auto text-center">
        <div id="grid" class="mb-4"></div>
        <button id="startBtn" class="btn btn-primary me-2">Animate</button>
        <button id="resetBtn" class="btn btn-secondary">Reset</button>
      </div>
    </div>
    <div class="mb-5">
      Animate dff/bfs path directly from array or from <a href="{% url 'python_problems:problem-detail' 'number-of-islands' 'Python' %}">Number of Islands</a> test case.
    </div>
    <form method="post" class="mb-5">
      {% csrf_token %}
      <span class="badge bg-secondary">Order input:</span>
      Enter path format: [[0, 0], [1, 0]].
      <div class="mb-1">
        <textarea name="order_input" class="form-control" rows="3" placeholder="Enter order like [[0, 0], [1, 0]]">
        {{ order }}
      </textarea>
      </div>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
    <form method="post" class="mb-5">
      {% csrf_token %}
      <div>
        Solve <a href="{% url 'python_problems:problem-detail' 'number-of-islands' 'Python' %}">Number of Islands</a>  and show path.
      </div>
      <span class="badge bg-secondary">Test case input:</span>
      Enter test case format: [["0", "0"], ["1", "0"]].
      <div class="mb-1">
        <textarea name="test_case_input" class="form-control" rows="3" placeholder="Enter order like [["0", "0"], ["1", "0"]]">
        {{ test_case }}
      </textarea>
        Test example: [['1', '1', '0', '0', '0'], ['1', '1', '0', '0', '0'], ['0', '0', '1', '0', '0'], ['0', '0', '0', '1', '1'], ['1', '1', '1', '1', '0'], ['1', '1', '0', '0', '0'], ['0', '1', '1', '0', '0'], ['0', '1', '0', '1', '1'], ['1', '1', '0', '0', '0'], ['1', '1', '0', '0', '0'], ['0', '0', '1', '0', '0'], ['0', '0', '0', '1', '1']]
      </div>
      <button type="submit" class="btn btn-success">Solve & Update</button>
    </form>
    <div class="row mb-4">
      <span class="badge bg-secondary col-auto">Source code:</span>
      <textarea id="gridAlgorithmContentContainer">{{ source_code }}</textarea>
    </div>
  </div>
{% endblock content %}
