{% extends "core/base.html" %}
{% block title %}
  Queue Animation
{% endblock title %}
{% block head %}
  {% load static %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'animations/queue.css' %}">
  <script src="{% static 'animations/animate-queue.js' %}" defer></script>
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="col-auto text-center">
      <div class="queue-container row">
        <h1>Queue Animation</h1>
        <div class="queue-display" id="queue-display">
          <!-- Queue elements will be added here -->
        </div>
        <div class="controls">
          <input type="text" id="char-input" maxlength="1" placeholder="X" value="6">
          <button id="push-btn">Push</button>
          <button id="pop-btn">Pop</button>
        </div>
      </div>
      <div class="row mb-4">
        <p>
          Search for problems with <a href="{% url 'python_problems:problem-index' %}?tag_id=33">queue</a> data structure.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
