<div class="row mb-2">
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary py-0 mb-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#problemInfo"
              aria-expanded="false"
              aria-controls="problemInfo">
        Info:
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
    <div class="row collapse show" id="problemInfo">
      {% if user == solution.owner %}
        <div class="col-auto">
          <div class="row">
            <a href="{% url 'python_problems:problem-update' problem.id %}?next={{ request.get_full_path|urlencode }}"
               class="btn btn-secondary py-0 mb-2 mt-2">Update</a>
          </div>
        </div>
      {% endif %}
      <div class="col-auto mb-2">
        <form>
          <label for="difficultyName" class="form-label mb-3">
            <b>Difficulty:</b>
          </label>
          <div id="difficultyName"
               class=" {% if problem.difficulty.name == 'Easy' %}text-success{% endif %} {% if problem.difficulty.name == 'Medium' %}text-warning{% endif %} {% if problem.difficulty.name == 'Hard' %}text-danger{% endif %} {% if problem.difficulty.name == 'Impossible' %}text-secondary{% endif %} ">
            {{ problem.difficulty }}
          </div>
        </form>
      </div>
      <div class="col-auto mb-2">
        <label for="tagName"  class="form-label mb-3">
          <b>Tags:</b>
        </label>
        <form method="get" action="{% url 'python_problems:problem-index' %}">
          {% for tag in tag_list %}
            <button class="tags btn btn-secondary py-0 px-1"
                    id="tagName"
                    name="tag_id"
                    type="submit"
                    value="{{ tag.id }}">{{ tag }}</button>
          {% endfor %}
        </form>
      </div>
      <div class="col-auto mb-2">
        <label for="complexityName" class="form-label mb-3">
          <b>Complexities:</b>
        </label>
        <div class="row" id="complexityName">
          <div class="col-auto">Time: {{ solution.time_complexity }}</div>
          <div class="col-auto">Space: {{ solution.space_complexity }}</div>
        </div>
      </div>
      <div class="col-auto mb-2">
        <label for="url" class="form-label mb-3">
          <b>URL:</b>
        </label>
        <div class="url">
          <a href="{{ problem.url }}"
             target="_blank"
             class="tags btn btn-secondary py-0 px-1">{{ url }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
