<div class="row mb-2">
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary py-0 mb-2"
              id="solutionToggleButton"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#problemSolution"
              aria-expanded="false"
              aria-controls="problemSolution">
        Solution:
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <div class="row collapse" id="problemSolution">
      <div class="col">
        <div class="row mt-4 mb-4">
          {% if user == solution.owner %}
            <div class="col-auto mb-2">
              <div class="mb-3">
                <a href="{% url 'python_problems:solution-update' solution.id %}">Update</a>
              </div>
              <div>
                <a href="{% url 'python_problems:solution-delete' solution.id %}">Delete</a>
              </div>
            </div>
          {% endif %}
          <div class="col-auto mb-2">
            <form method="post">
              {% csrf_token %}
              <label for="owner" class="mb-2">
                <b>Author:</b>
              </label>
              <select class="form-select"
                      id="owner"
                      name="owner_id"
                      onchange="this.form.submit()">
                {% for owner in owners %}
                  <option value="{{ owner.id }}"
                          {% if owner.id == owner_id %}selected{% endif %}>{{ owner }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="col-auto mb-2">
            <form method="post">
              {% csrf_token %}
              <label for="language" class="mb-2">
                <b>Language:</b>
              </label>
              <select class="form-select"
                      id="languageId"
                      name="language_id"
                      onchange="this.form.submit()">
                {% for language in solution_languages %}
                  <option value="{{ language.id }}"
                          {% if language.id == language_id %}selected{% endif %}>{{ language }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
      </div>
      {% if solution_parts %}
        <div id="solutionButtonContainer" class="mb-5">
          {# Placeholder for JavaScript 'python_problems/problem-solution.js' buttons #}
        </div>
        <textarea id="solutionContentContainer">{{ solution_parts.0 }}</textarea>
        {% for solution_part in solution_parts %}
          <textarea id="solution-{{ forloop.counter }}"
                    class="solutionContent d-none"
                    aria-hidden="true">{{ solution_part }}</textarea>
        {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
