<div class="row mb-2">
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary py-0 mb-2"
              id="solution-panel-toggle-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#solution-panel"
              aria-expanded="false"
              aria-controls="solution-panel">
        Solution:
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <div class="row collapse" id="solution-panel">
      <div class="col">
        <div class="row mt-4 mb-4">
          <div class="col-auto mb-2">
            <form method="post">
              {% csrf_token %}
              <label for="solution-owner-id" class="mb-2">
                <b>Author:</b>
              </label>
              <select class="form-select"
                      id="solution-owner-id"
                      name="solution_owner_id"
                      onchange="this.form.submit()">
                {% for owner in owners %}
                  <option value="{{ owner.id }}"
                          {% if solution_owner_id == owner.id %}selected{% endif %}>{{ owner }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="col-auto mb-2">
            <form method="post">
              {% csrf_token %}
              <label for="language-id" class="mb-2">
                <b>Language:</b>
              </label>
              <select class="form-select"
                      id="language-id"
                      name="language_id"
                      onchange="this.form.submit()">
                {% for language in owner_solution_languages %}
                  <option value="{{ language.id }}"
                          {% if language_id == language.id %}selected{% endif %}>{{ language }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          {% if user.is_authenticated and owner_solutions %}
            {% with first_solution=owner_solutions|first %}
              <div class="col-auto mb-2">
                <a id="solutionUpdateLink"
                   class="btn btn-sm btn-secondary d-none"
                   data-current-user-id="{{ user.id }}"
                   data-url-template="{% url 'python_problems:solution-update' 0 %}"
                   data-next-url="{{ request.get_full_path }}"
                   href="{% url 'python_problems:solution-update' first_solution.id %}?next={{ request.get_full_path|urlencode }}">Update</a>
              </div>
            {% endwith %}
          {% endif %}
        </div>
      </div>
      {% if owner_solutions %}
        {# Placeholder for buttons: [Solution1], [Solution2] ..., [+] #}
        <div id="solution-button-container"
             data-create-url="{% url 'python_problems:solution-create' %}"
             data-problem-id="{{ solution.problem_id }}"
             data-language-id="{{ language_id }}"
             data-redirect-url="{% url 'python_problems:problem-detail' problem_slug language %}"></div>
        <div class="position-relative">
          <div class="position-absolute end-0 mt-5 me-5 d-flex flex-column gap-1"
               style="z-index: 10">
            <button id="copy-solution-btn"
                    class="btn btn-sm btn-secondary"
                    type="button">
              <i class="far fa-copy"></i> Copy
            </button>
            {% csrf_token %}
            <button id="copy-validate-solution-btn"
                    class="btn btn-sm btn-secondary"
                    data-bs-target="#problemCode"
                    type="button">
              <i class="far fa-copy"></i> Validate
            </button>
          </div>
          <textarea id="solution-content-container"></textarea>
          {# Stored quick in-page solutions: Solution1, Solution2 ... #}
          {% for solution in owner_solutions %}
            <textarea id="solution-{{ forloop.counter }}"
                      data-owner-id="{{ solution.owner_id }}"
                      data-solution-id="{{ solution.id }}"
                      class="solutionContent d-none"
                      aria-hidden="true">{{ solution.source_code }}</textarea>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
