<div class="row mb-2">
  <button class="btn btn-outline-secondary py-0 mb-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#problemTestCases"
          aria-expanded="false"
          aria-controls="problemTestCases">
    Test Cases:
    <i class="fas fa-chevron-up"></i>
  </button>
  <div class="row collapse show" id="problemTestCases">
    {% if ui_test_cases %}
      <div class="row mb-2">
        <div class="col-auto" id="testCasesContainer">
          {% for test_case in ui_test_cases %}
            <div id="testCase-{{ forloop.counter }}" class="testCaseContent">
              <div class="row">
                <div class="col-auto">
                  <span class="badge bg-secondary col-auto">Input:</span>
                  <div class="form-control" rows="1" style="white-space: pre-wrap"><code class="text-body">{{ test_case.0 }}</code></div>
                </div>
                <div class="col-auto">
                  <span class="badge bg-secondary col-auto">Output:</span>
                  <div class="form-control" rows="1">
                    <code class="text-body">{{ test_case.1 }}</code>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-auto">
          <button id="copyTestCasesBtn" class="btn btn-secondary mt-4">
            <i class="far fa-copy"></i> Copy
          </button>
        </div>
      </div>
      <div id="testCaseButtonContainer" class="mb-5">
        {# Placeholder for JavaScript 'python_problems/test-case-buttons.js' buttons #}
      </div>
      {# Test cases to clipboard placeholder. #}
      {% spaceless %}
        <div id="clipboardTestCases" class="d-none">
          <span>{{ clipboard_test_cases }}</span>
        </div>
      {% endspaceless %}
    {% endif %}
  </div>
</div>
