{% load linked_list_filters %}
<div class="row mb-2">
  <label for="problemDescription" 
         class="form-label"
         data-bs-toggle="collapse"
         data-bs-target="#problemDescription"
         aria-expanded="true">
    <i class="fas fa-chevron-up"></i>
    <b>Description:</b>
  </label>
  {% autoescape off %}
    <pre class="mb-5 collapse show" 
         style="white-space: pre-wrap"
         id="problemDescription"
      >{{ problem.description|process_linked_lists }}</pre>
  {% endautoescape %}
</div>