<div class="row mb-2">
  <button class="btn btn-outline-secondary py-0 mb-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#problemTestCases"
          aria-expanded="false"
          aria-controls="problemTestCases">
    Test Cases:
    <i class="fas fa-chevron-up"></i>
  </button>
  <div class="row collapse show" id="problemTestCases">
    {% if ui_problem_test_cases %}
      <div class="row mb-4">
        <div class="col-auto mb-2">
          <div id="problemTestCaseButtonContainer">{# Placeholder for JavaScript 'python_problems/test-case-buttons.js' buttons #}</div>
        </div>
        <div class="col-auto">
          <button id="copyProblemTestCasesBtn" class="btn btn-sm btn-secondary">
            <i class="far fa-copy"></i> Copy
          </button>
        </div>
        <div class="col-auto">
          {% if user.is_authenticated %}
            <a id="problemTestCaseUpdateLink"
               class="btn btn-sm btn-secondary d-none"
               data-current-user-id="{{ user.id }}"
               data-url-template="{% url 'python_problems:test_case-update' 0 %}"
               data-next-url="{{ request.get_full_path }}"
               href="{% url 'python_problems:test_case-update' 0 %}?next={{ request.get_full_path|urlencode }}"><i class="far fa-copy"></i> Edit</a>
          {% endif %}
        </div>
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 id="previewContentBtn"
                 checked>
          <label class="form-check-label" for="previewContentBtn">Preview</label>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-auto" id="problemTestCasesContainer">
          {% for test_case in ui_problem_test_cases %}
            <div id="problemTestCase-{{ forloop.counter }}"
                 class="problemTestCaseContent"
                 data-problem-test-case-id="{{ test_case.id }}"
                 data-owner-id="{{ test_case.owner_id }}"
                 data-source="{{ test_case.source }}">
              <div class="row mb-2">
                <div class="col-auto">
                  <span class="badge bg-secondary col-auto">Input:</span>
                  <div class="form-control" rows="1" style="white-space: pre-wrap"><code class="text-body">{{ test_case.input }}</code></div>
                </div>
                <div class="col-auto">
                  <span class="badge bg-secondary col-auto">Output:</span>
                  <div class="form-control" rows="1">
                    <code class="text-body">{{ test_case.output }}</code>
                  </div>
                </div>
                {% if test_case.explanation %}
                  <div class="col-auto">
                    <span class="badge bg-secondary col-auto">Explanation:</span>
                    <div class="form-control" rows="1" style="white-space: pre-wrap"><code class="text-body">{{ test_case.explanation }}</code></div>
                  </div>
                {% endif %}
              </div>
              {% if test_case.preview %}
                <div class="row mb-2 previewContent">
                  {% for dataPreview in test_case.preview %}
                    <div class="col-auto">
                      <span class="badge bg-secondary d-inline-block">{{ dataPreview.0 }}</span>
                      <div class="border rounded px-3 py-2">
                        <pre class="mb-0">{{ dataPreview.1 }}</pre>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      {# Test cases to clipboard placeholder. #}
      {% spaceless %}
        <div id="clipboardProblemTestCases" class="d-none">
          <span>{{ clipboard_problem_test_cases }}</span>
        </div>
      {% endspaceless %}
    {% endif %}
  </div>
</div>
