{% load pagination_page_filter %}
<nav>
  <ul class="pagination">
    {# First Page #}
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link"
          href="?page=1{% if querystring %}
            
            &{{ querystring }}
          {% endif %}">
          &laquo;
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    {# Previous Page #}
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ page_obj.previous_page_number }}{% if querystring %}
            
            &{{ querystring }}
          {% endif %}">
          &lsaquo;
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&lsaquo;</span>
      </li>
    {% endif %}

    {# Page Numbers #}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% elif num|in_pagination_range:page_obj %}
        <li class="page-item">
          <a class="page-link"
            href="?page={{ num }}{% if querystring %}
              
              &{{ querystring }}
            {% endif %}">
            {{ num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    {# Next Page #}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ page_obj.next_page_number }}{% if querystring %}
            
            &{{ querystring }}
          {% endif %}">
          &rsaquo;
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&rsaquo;</span>
      </li>
    {% endif %}

    {# Last Page #}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ page_obj.paginator.num_pages }}{% if querystring %}
            
            &{{ querystring }}
          {% endif %}">
          &raquo;
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
    <li class="page-item ms-3">
      <form method="get">
        <input type="hidden" name="difficulty_id" value="{{ difficulty_id }}" />
        <input type="hidden" name="tag_id" value="{{ tag_id }}" />
        <input type="hidden" name="language_id" value="{{ language_id }}" />
        <input type="hidden" name="order_by" value="{{ order_by }}" />
        <input type="hidden" name="query_text" value="{{ query_text }}" />
        {% include 'python_problems/partials/_problems_per_page.html' with select_class='form-select mb-3 w-auto' select_id='problems_per_page_secondary' %}
      </form>
    </li>
  </ul>
</nav>
