<div class="row mb-2">
<div class="col">
  <div class="row mb-2">
    <label for="codeForm" class="form-label">
      <b>Code Area</b>:
    </label>
    <form id="codeForm"
          action="{% url 'python_problems:problem-detail' problem.slug solution.language.name %}"
          method="post"
          class="mb-2">
      {% csrf_token %}
      <div class="code-area-container mb-2 border border-warning">
        <textarea name="code_container"
                  id="codeContainer"
                  cols="80"
                  rows="20"
                  >{{ source_code }}</textarea>
      </div>
      <button id="submitButton" 
              type="submit" 
              class="btn btn-warning {% if language_id > 2 and language_id < 6 %}d-none{% endif %}">
        Run
        <span id="submitButtonSpinner" class="spinner-border spinner-border-sm d-none"></span>
      </button>
    </form>
    <div class="col-auto">
      <button class="btn btn-success"
              id="aiAssistantButton">
        AI Assistant
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div>
      {% if output_form.output_area.value == "Error: 'output'" %}
        <div class="alert alert-warning">
          <strong>Warning!</strong> No <em>output</em> variable in Code Area.
        </div>
      {% elif "Error" in output_form.output_area.value %}
        <div class="alert alert-warning">
          <strong>Warning!</strong> Error detected.
        </div>
      {% else %}
        <div class="alert alert-info">No errors in the code.</div>
      {% endif %}
    </div>
  </div>
  <div class="row mb-2">
    {% load crispy_forms_tags %}
    <form action="" class="mb-5">
      {{ output_form|crispy }}
    </form>
  </div>
</div>
</div>