<div class="row mb-5">
  <div class="col">  
    <div class="row-auto mb-5 d-flex justify-content-between">
      {% if prev_problem_slug %}
        <a href="{% url 'python_problems:problem-detail' prev_problem_slug language.name %}"
           class="btn btn-outline-secondary py-1">
          &larr; Previous Problem
        </a>
      {% else %}
        <span class="btn btn-secondary disabled">&larr; Previous</span>
      {% endif %}
      {% if next_problem_slug %}
        <a href="{% url 'python_problems:problem-detail' next_problem_slug language.name %}"
           class="btn btn-outline-secondary py-1">
          Next Problem &rarr;
        </a>
      {% else %}
        <span class="btn btn-secondary disabled">Next &rarr;</span>
      {% endif %}
    </div>
    <div class="row">
      <h1>{{ problem.title }}</h1>
    </div>
  </div>
</div>
{% comment %}   <hr> {% endcomment %}