{% extends "core/base.html" %}
{% block title %}
    db from ASCII
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-auto mb-2">
                <a href="{% url 'sql_problems:index' %}"
                   class="btn btn-secondary px-3 py-0 m-1">Back</a>
                <h1>database from ASCII</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-auto mb-2">
                            <p>Takes ASCII-like tables ...</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <p>Data type:</p>
                            <pre>{{ ascii_type_table }}</pre>
                        </div>
                        <div class="col-auto">
                            <p>Data:</p>
                            <pre>{{ ascii_object_table }}</pre>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-auto mb-2">
                            <p>... and converts them into db.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <p>Data:</p>
                    <pre>{{ object_df }}</pre>
                    <p>Data type:</p>
                    <pre>{{ object_df_dtypes }}</pre>
                </div>
                <hr>
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="collapse"
                        data-bs-target="#button1">Show snippet</button>
                <div id="button1" class="collapse">
                    <p>Code snippet:</p>
                    <pre>
            {{ code_content }}
        </pre>
                </div>
                <dir class="container">
                </dir>
            </div>
        </div>
    {% endblock content %}
