<!DOCTYPE html>
<html>
  <head>
    <meta charset="ute-8">
    <meta name="viewport" content="width=dewice-width, initial-scale=1.0">
    {% comment %}<script src="https://cdn.tailwindcss.com"></script>{% endcomment %}
    <title>
      {{ settings.APP_NAME }} |
      {% block title %}
      {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
         style="border-radius:10px !important">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'python_problems:index' %}">Hello {{ request.user }}</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% url 'python_problems:index' as python_index_url %}
          {% url 'python_problems:tag-graph' as python_tag_graph %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.get_full_path in python_index_url or request.get_full_path in python_tag_graph %}active{% endif %}"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">Python</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item {% if request.get_full_path == python_index_url %}active{% endif %}"
                   href="{{ python_index_url }}">Python Problems</a>
              </li>
              <li>
                <a class="dropdown-item {% if request.get_full_path == python_tag_graph %}active{% endif %}"
                   href="{{ python_tag_graph }}">Statistics</a>
              </li>
            </ul>
          </li>

          

          {% url 'sql_problems:conversion' as sql_conversion_url %}
          {% url 'sql_problems:index' as sql_index_url %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.get_full_path in sql_conversion_url or request.get_full_path in sql_index_url %}active{% endif %}"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">SQL</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item {% if request.get_full_path == sql_index_url %}active{% endif %}"
                   href="{{ sql_index_url }}">SQL Problems</a>
              </li>
              <li>
                <a class="dropdown-item {% if request.get_full_path == sql_conversion_url %}active{% endif %}"
                   href="{{ sql_conversion_url }}">Conversion</a>
              </li>
            </ul>
          </li>
          {% url 'python_problems:tag-graph' as abc2 %}
          <li class="nav-item">
            <a href="{% url 'python_problems:tag-graph' %}"
               class="nav-link {% if request.get_full_path == abc2 %}active{% endif %}">Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">Admin</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'python_problems:problem-create' %}">Create a problem</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'python_problems:tag-create' %}">Add a tag</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item"
                     href="{% url 'logout' %}?next={% url 'core:index' %}">Logout</a>
                </li>
              {% else %}
                <li>
                  <a class="dropdown-item"
                     href="{% url 'login' %}?next={% url 'core:index' %}">Login</a>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
        {% comment %}<ul class="navbar-nav mb-lg-0">
          <li>
            <a class="nav-link active" href="#">Active</a>
          </li>
        </ul>{% endcomment %}
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'logout' %}?next={% url 'core:index' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}?next={% url 'core:index' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% comment %}{% include "core/header.html" %}{% endcomment %}
    <div class="px-6 py-6">
      {% block content %}
      {% endblock content %}
    </div>
    {% comment %}{% include "core/footer.html" %}{% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
         style="border-radius:10px !important">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <a class="nav-link" href="{% url 'login' %}?next={% url 'core:index' %}">{{ settings.APP_NAME }} project by Łukasz Łodożyński</a>
        </ul>
      </div>
    </nav>
  </body>
</html>
