{% block footer %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary m-2"
       style="border-radius:10px !important">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="nav-link" 
           href="{% url 'login' %}?next={% url 'core:index' %}">{{ settings.APP_NAME }} project by Łukasz Łodożyński</a>
      </ul>
    </div>
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link"
             href="https://leetcode.com/u/lodyga/"
             target="_blank">
            LeetCode
          </a>
        </li>
        <li>
          <a class="nav-link"
             href="https://github.com/lodyga/problems/"
             target="_blank">
            GitHub
          </a>
        </li>
        <li>
          <a class="nav-link"
             href="https://www.linkedin.com/in/lukasz-lodozynski/"
             target="_blank">
            LinkedIn
          </a>
        </li>
        <li>
          <a class="nav-link" 
             href="{% url 'forums:bug-forum' %}">
             Report a bug
          </a>
        </li>
        <li>
          <a class="nav-link" 
             href="{% url 'forums:feature-forum' %}">
            Request a feature
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock footer %}

