{% block header %}
  <form method="post" action="{% url 'python_problems:problem-index' %}">
  {% csrf_token %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary m-2"
       style="border-radius:10px !important">
    <div class="container-fluid">
      {% comment %}<a class="navbar-brand" href="{% url 'login' %}?next={% url 'core:index' %}">Hello {{ request.user }}</a>{% endcomment %}
      <a href="{% url 'core:index' %}" class="navbar-brand">
        Codesite |
      </a>
      <ul class="navbar-nav">
        <li>
          <a class="navbar-brand" href="{% url 'login' %}?next={{ request.path }}">Hello {{ request.user }}</a>
        </li>
      </ul>
      <ul class="navbar-nav me-5">
        {% if request.user.social_auth.first %}
          <li>
            <img src="https://github.com/{{ request.user.social_auth.first }}.png"
                 width="30"
                 height="30"
                 class="rounded-circle"
                 alt="github img">
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav me-auto">
        {% url 'core:index' as home_url %}
        <li class="nav-item">
          <a href="{{ home_url }}"
             class="nav-link {% if request.get_full_path == home_url %}active{% endif %}">
            Home
          </a>
        </li>
        {% url 'python_problems:problem-index' as python_index_url %}
        {% url 'python_problems:tag-graph' as python_tag_graph %}
        <li class="nav-item dropdown">
          {% comment %} <a class="nav-link dropdown-toggle {% if request.get_full_path == python_index_url or request.get_full_path == python_tag_graph %}active{% endif %}" {% endcomment %}
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 1 %}active{% endif %}"   
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Python
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% comment %} <li>
              <a class="dropdown-item {% if request.get_full_path == python_index_url %}active{% endif %}"
                 href="{{ python_index_url }}">Python Problems</a>
            </li> {% endcomment %}
            {% comment %} todo {% endcomment %}
            <li>     
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="1">
                Python
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 2 %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            JavaScript
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="2">
                JavaScript
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 6 %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Java
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="6">
                Java
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 7 %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            C++
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="7">
                C++
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 3 %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Pandas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="3">
                Pandas
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 4 %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            MySQL
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="4">
                MySQL
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle 
                   {% if language_id == 5 %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            PostgreSQL
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button class="btn dropdown-item" 
                      type="submit" 
                      name="language_id" 
                      value="5">
                PostgreSQL
              </button>
            </li>
          </ul>
        </li>
        {% comment %} {% url 'sql_problems:index' as sql_index_url %}
        {% url 'sql_problems:conversion' as sql_conversion_url %}
        {% url 'sql_problems:ascii' as sql_ascii_url %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.get_full_path == sql_conversion_url or request.get_full_path == sql_index_url or request.get_full_path == sql_ascii_url %}active{% endif %}"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">SQL</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item {% if request.get_full_path == sql_index_url %}active{% endif %}"
                 href="{{ sql_index_url }}">SQL Problems</a>
            </li>
            <li>
              <a class="dropdown-item {% if request.get_full_path == sql_conversion_url %}active{% endif %}"
                 href="{{ sql_conversion_url }}">Conversion</a>
            </li>
            <li>
              <a class="dropdown-item {% if request.get_full_path == sql_ascii_url %}active{% endif %}"
                 href="{{ sql_ascii_url }}">db from ASCII</a>
            </li>
          </ul>
        </li> {% endcomment %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Admin</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"
                 href="{% url 'python_problems:problem-create' %}">Create a problem</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="{% url 'python_problems:solution-create' %}">Create a solution</a>
            </li>
            <li>
              <a class="dropdown-item" 
                 href="{% url 'python_problems:tag-create' %}">Add a tag</a>
            </li>
            <li>
              <a class="dropdown-item" 
                 href="{% url 'python_problems:language-create' %}">Add a language</a>
            </li>
            <li>
              <a class="dropdown-item" 
                 href="{% url 'python_problems:tag-index' %}">Tags</a>
            </li>
            <li>
              <a class="dropdown-item {% if request.get_full_path == python_tag_graph %}active{% endif %}"
                 href="{{ python_tag_graph }}">Statistics</a>
            </li>
            <li>
              <a class="dropdown-item" 
                 href="{% url 'python_problems:api-root' %}">REST API</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'logout' %}?next={% url 'core:index' %}">Logout</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'login' %}?next={% url 'core:index' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
      
      {% comment %} <ul class="navbar-nav mb-lg-0">
        <li>
          <a class="nav-link active" href="#">Active</a>
        </li>
      </ul> {% endcomment %}
      <ul class="navbar-nav">
        {% url 'sql_problems:index' as sql_index_url %}
        {% url 'sql_problems:conversion' as sql_conversion_url %}
        {% url 'sql_problems:ascii' as sql_ascii_url %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Settings</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <div class="form-check">
                <label class="form-check-label" 
                       for="darkModeToggle" 
                       id="darkModeLabel">
                  Light Mode
                </label>
                <input class="form-check-input visually-hidden"
                       id="darkModeToggle"
                       type="checkbox"
                       {% if dark_mode %}checked{% endif %}>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link"
               href="{% url 'logout' %}?next={% url 'core:index' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={% url 'core:index' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  </form>
{% endblock header %}