{% extends "core/base.html" %}
{% block title %}
  Main
{% endblock title %}
{% block content %}
  <div class="container-fluid m-2">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-auto">
        <h1 class="mb-5">Site Index</h1>
        <ul>
          <li>
            <a href="https://codesite.onrender.com/" target="_blank">Codesite as a Docker container hosted on Render</a>
            <p>It takes about 30 seconds to boot up after inactivity.</p>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        </ul>
        <ul>
          <li>
            <div class="row">
              <div class="col-auto">
                <a href="{% url 'python_problems:problem-index' %}">Python</a>
              </div>
              <div class="col-auto">
                &laquo;-- Most features here.
              </div>
            </div>
          </li>
          <ul>
            <li>
              <a href="{% url 'python_problems:api-root' %}">REST API</a>
            </li>
            <li>
              <a href="{% url 'python_problems:problem-create' %}">Create a problem</a>
            </li>
            <li>
              <a href="{% url 'python_problems:solution-create' %}">Create a solution</a>
            </li>
            <li>
              <a href="{% url 'python_problems:language-create' %}">Add a language</a>
            </li>
            <li>
              <a href="{% url 'python_problems:tag-index' %}">Tag</a>
            </li>
            <ul>
              <li>
                <a href="{% url 'python_problems:tag-create' %}">Add a tag</a>
              </li>
              <li>
                <a href="{% url 'python_problems:tag-graph' %}">Statistics</a>
              </li>
            </ul>
          </ul>
        </ul>
        <ul>
          <li>
            <a href="sql/">SQL</a>
          </li>
          <ul>
            <li>
              <a href="sql/conversion/">database conversion</a>
            </li>
            <li>
              <a href="sql/ascii/">database from ASCII</a>
            </li>
          </ul>
        </ul>
        <ul>
          <li>
            Forums
            <ul>
              <li>
                <a href="{% url 'forums:bug-forum' %}">Report a bug</a>
              </li>
              <li>
                <a href="{% url 'forums:feature-forum' %}">Request a fuature</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
